# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_URL=http://keycloak:8080

# Keycloak Database
KC_DB=dev-file

# Keycloak Realm
KEYCLOAK_REALM=master

# Keycloak Client
KEYCLOAK_CLIENT_ID=gateway
KEYCLOAK_CLIENT_SECRET=gateway-secret
